body{
    margin-left: 1%;
    margin-right: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    
}

pre code{
  background-color: #eee;
  display: block;
  padding: 20px;
} 

* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    padding: 10px;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
    display: block;
    border-left: solid;
    border-color: rgba(117, 115, 115, 0.808);
  }

.left header{
    text-align: center;
    border-bottom: solid;
    border-color: rgba(117, 115, 115, 0.808);
    width: 259px;
    margin-left: 30.5%;
}


.left .nav-links{
    padding: 2%;
    padding-left: 2%;
    border-bottom: solid;
    border-color: rgba(117, 115, 115, 0.808);
    width: 259px;
    margin-left: 22%;
}
.left li{
    list-style-type: none;
    text-align: left;
}


.nav-links a{
    text-decoration: none;
    text-align: center;
    padding-left: 2%;
}

#header-img{
    padding-left: 2%;
    padding-top: 0.1%;
    padding-bottom: 0%;
    width: 268px;
    margin-left: 19.2%;
}
#introduction{
    padding-left: 1%;
}

#introduction article p{
    padding-left: 1.5%;
}
#introduction li{ 
    margin-left: 3%;
}
#introduction pre{
    padding-left: 1%;
}

#values_types_and_operators{
    padding-left: 1%;
}

#values_types_and_operators p{
    padding-left: 1.5%;
}

#values_types_and_operators pre{
    padding-left: 3%;
}

#program_structure{
    padding-left: 1%;
}

#program_structure article p{
    padding-left: 1.5%;
}
#program_structure li{
    margin-left: 3%;
}

#functions{
    padding-left: 1%;
}
#functions li{
    margin-left: 3%;
}

#functions article p{
    padding-left: 1.5%;
}
#functions pre{
    padding-left: 2.5%;
}

#objects_and_arrays{
    padding-left: 1%;
}
#objects_and_arrays article p{
    padding-left: 1.5%;
}
#objects_and_arrays li{
    margin-left: 3%;
}

#higher_order_functions{
    padding-left: 1%;
}

#higher_order_functions article p{
    padding-left: 1.5%;
}
#higher_order_functions li{
    margin-left: 3%; 
}